@import "util.less";

html, body {
    background: @whiteGhost;
    height: 100%;
}

#app {
    height: 100%; 
}

.center-container {
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    height: inherit;
}

.nav {
    width: 230px;
    position: fixed;
    margin-left: 20px;
    margin-top: 20px;
}

.center {
    flex: none;
    max-width: 50%;
}

.float-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
}

.project-name {
    margin-top: 0px;
}

.box {
    padding: 12px 12px 12px 12px; 
    border-radius: 2px;
}

.float-box {
    .box;
    .BoxShadowHelper(2);
    width: 400px;
    position: relative;
}

.float-box--side {
    .box;
    position: absolute;
}

// Style

.blue {
    font-family: 'Open Sans Light';
    color: @whiteGhost;
    background: @blueHavelock;
}

.blue-box {
    .BoxShadowHelper(2);
    .blue;
}

.blue-box > p, .blue-box > h1 {
    margin-left: 8px;
}

.blue-input {
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid @whiteGhost;
    width: 180px;
    .blue;
}

input::-webkit-input-placeholder {
    color: fade(@whiteGhost,50%);
}

input::-moz-input-placeholder {
    color: fade(@whiteGhost,50%);
}


.Title {
    font-family: 'Open Sans Semibold';
    text-transform: uppercase;
}

.blue-box__title {
    margin-top: 8px;
    margin-bottom: 12px;
    font-family: 'Open Sans Light';
    font-weight: 300;
    // .Title;
}

.clear-btn {
    color: @whiteGhost;
    opacity: 0.7;
    cursor: pointer;
    margin-left: 8px;
    font-size: 16px;
}

.clear-btn:hover {
    text-decoration: none;
    opacity: 1;
}

.btn-container--center {
    text-align: center;
}

.btn-center {
    margin: 0 auto 0 auto;
}

// Button

.btn {
    .BoxShadowHelper(1);
    .box;
    cursor: pointer; 
    cursor: hand;
    display: inline-block;
    text-align: center;
    min-width: 50px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    .Title;
}

.btn--green {
    .btn;
    background: @greenAtlantis;
}

.btn--green--active {
    .btn;
    background: darken(@greenAtlantis,15%);
}

// Platform Buttons

.platform--btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 6px;
}

// Folder List

.folder-list {
    list-style: none;
    padding-left: 10px;
}

.folder-list__item {
    margin-right: 10px;
}

