@import "util.less";

html, body {
    background: @whiteGhost;
    height: 100%;
}

#app {
    height: 100%; 
}

.whole-page {
    height: 100vh; 
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page {
    height: inherit;
}

@topMargin: 20px;

.nav {
    width: 250px;
    margin-left: @topMargin;
    margin-top: @topMargin; 
    z-index: 1;
}

.box {
    padding: 12px 12px 12px 18px; 
    border-radius: 3px;
}

@boxWidth: 500px;

.center {
    flex: none;
    max-width: 50%;
}

.float-right-corner {
    position: absolute;
    top: 10px;
    right: 10px;
}


.float-box {
    .box;
    .BoxShadowHelper(2);
    width: @boxWidth; 
    position: relative;
    margin-bottom: 8px;
}

.float-box--side {
    .box;
    position: absolute;
}

// Style

.blue {
    font-family: 'Open Sans Light';
    color: @whiteGhost;
    background: @blueHavelock;
}

.blue-box {
    font-size: larger;
    .blue;
}

.blue-input {
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid @whiteGhost;
    width: 90%;
    .blue;
}

input::-webkit-input-placeholder {
    color: fade(@whiteGhost,50%);
}

input::-moz-input-placeholder {
    color: fade(@whiteGhost,50%);
}

.error-card {
    z-index: 2;
    font-size: larger;
    color: @whiteGhost;
    background: @indianRed; 
    > p {
        margin-bottom: 8px;
    }
}

.notification {
    position: absolute;
    left: 0;
    right: 0;
    margin: 20px auto;
}

.Title {
    font-family: 'Open Sans Semibold';
    text-transform: uppercase;
}

.box__title {
    margin-top: 8px;
    margin-bottom: 12px;
}

.blue-box__title {
    .box__title;
    font-family: 'Open Sans Light';
    font-weight: 300;
}

.blue-box__subtitle {
    .box__title;
    .Title; 
}

.project-name {
    .blue-box__title;
    text-transform: lowercase;
}

.clear-btn {
    color: @whiteGhost;
    opacity: 0.7;
    cursor: pointer;
    margin-left: 8px;
    font-size: 16px;
}

.clear-btn:hover {
    text-decoration: none;
    opacity: 1;
}

.last-btns {
    margin-bottom: 6px; 
}

.btn-container--center {
    .last-btns;
    text-align: right;
}

.btn-center {
    margin: 0 6px 0 auto;
}

// Button

.btn {
    .BoxShadowHelper(1);
    .box;
    cursor: pointer; 
    cursor: hand;
    display: inline-block;
    text-align: center;
    min-width: 50px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    .Title;
}

.btn--green {
    .btn;
    background: @greenAtlantis;
}


.btn--green--active {
    .btn;
    background: darken(@greenAtlantis,15%);
}

.divider {
    margin-top: 2px;
    display: block;
    height: 1px;
    background-color: fade(@whiteGhost,50%);
}

// Platform Buttons

.platform--btns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .last-btns;
}

// Folder List

.div-explorer {
    width: 0.90 * @boxWidth; 
}

.folder-list {
    list-style: none;
    padding-left: 10px;
}

.folder-list__item {
    margin-right: 10px;
}

.file--activate {
    color: white;
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

.file-item {
    padding-top: 1px;
}

.file-item__text {
    .clickable;
    font-weight: lighter;
    &:hover {
        .file--activate;
    }
    margin-right: 7px;
}

.file-item__text--activated {
    .file-item__text;
    .file--activate;
    &:hover {
        font-weight: initial;
    }
}

.expand-activate {
    color: @whiteGhost;
}
.expand-icon {
    color: fade(@whiteGhost,70%);
    font-size: 0.75em;
    &:hover {
        .expand-activate;
    }
}

.expand-icon--active {
    .expand-icon;
    .expand-activate;
}

.clojure-logo {

}