.DS_Store
/target
/classes
/resources/cached/
tmp
/checkouts
pom.xml
pom.xml.asc
figwheel_server.log
*.jar
*.class
*.min.css
/.lein-*
/.nrepl-
/app/js/p
/resources/public/js/p
/app/projects
/.repl
/out
/node_modules
/electron
/app/config.json
/app/*.log
/builds
/app/components
.nrepl-port
/spec/static/test.js
/.repl*
*-init.clj
/.idea
*.iml
